#mapid {
	height: 500px;
	width: 1200px;
	
} 

h1 {
	font-family: 'Lato';
	text-align: center;
	color: brown;
} 

#image {
		display: flex; 
		position : absolute;
		top: 0px;
		right : 5px;
}

img {
	height : 120px;
	width : 120px;
	margin-top: 5px;

}

body {
	background-color :rgb(232, 245, 231);
}

#ola {
	height : 100px;
	width : 200px; 
}

h2,h5{
	font-family: Helvetica;
}

#choix{
	font-family: 'Trebuchet';
	font-size: 20px;
	float : right;
	left : 20px;
	

}
h3{
	font-family: 'Lato';
	color: brown;
}

      
